<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="DAFA">
    <meta name="keywords" content="DAFA">
    <meta name="author" content="DAFA">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <title>DAFA</title>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <!-- Theme css -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/css/theme.css" media="screen" id="color"> -->

    <!-- main -->
    <link rel="stylesheet" href="../assets/css/main-upgrade.css">
</head>

<body>
  
    <div class="navbar-desktop">
      <nav class="navbar navbar-expand-lg">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav bg-orange-navs nav-bg mx-auto">
            <li class="nav-item px-xl-2 px-lg-1 py-1 dropdown bg-warnings">
              <a class="nav-link dropdown-toggle mx-5 text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Administration
                <i class="fas fa-caret-left mx-2 nav-icon-arrow"></i>
              </a>
                <div class="dropdown-menu mt-0 dropdown-menu-center border-0 bg-orange-dropdown "  style="width: 90%;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Attendance History</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Medical Record</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">History of Violation</a>
                </div>
            </li>
            <li class="nav-item px-xl-2 px-lg-1 py-1 dropdown bg-primarys">
              <a class="nav-link dropdown-toggle mx-5 text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Academic
                <i class="fas fa-caret-left mx-2 nav-icon-arrow"></i>
              </a>
                <div class="dropdown-menu mt-0 dropdown-menu-center rounded-bottom border-0 bg-orange-dropdown "  style="width: 90%;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Daily Evaluation</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Achievment</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Jadwal Pelajaran</a>
                </div>
            </li>
            <li class="nav-item px-xl-2 px-lg-1 py-1 dropdown bg-warnings">
              <a class="nav-link dropdown-toggle mx-5 text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Finance
                <i class="fas fa-caret-left mx-2 nav-icon-arrow"></i>
              </a>
                <div class="dropdown-menu mt-0 dropdown-menu-center rounded-bottom border-0 bg-orange-dropdown "  style="width: 90%;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Online Payment</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Payment History</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Saving</a>
                </div>
            </li>
            <li class="nav-item px-xl-2 px-lg-1 py-1 dropdown bg-primarys">
              <a class="nav-link dropdown-toggle mx-5 text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Transaction
                <i class="fas fa-caret-left mx-2 nav-icon-arrow"></i>
              </a>
                <div class="dropdown-menu mt-0 dropdown-menu-center rounded-bottom border-0 bg-orange-dropdown "  style="width: 90%;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">E-Money</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Transaction</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Transaction History</a>
                </div>
            </li>
            <li class="nav-item px-xl-2 px-lg-1 py-1 bg-warnings">
              <a class="nav-link mx-5 text-white font-weight-bold" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="navbar-mobile">
      <nav class="navbar navbar-expand-lg navbar-light bg-orange-nav text-white">
        <a class="navbar-brand text-white font-weight-bold" href="#">SIS</a>
        <button class="navbar-toggler " style="border-color:white; color : white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Administration</a>
                <div class="dropdown-menu rounded-bottom border-0 bg-orange-dropdown" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Attendance History</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Achievment</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">History of Violation</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Academic</a>
                <div class="dropdown-menu rounded-bottom border-0 bg-orange-dropdown" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Daily Evaluation</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Medical Record</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Finance</a>
                <div class="dropdown-menu rounded-bottom border-0 bg-orange-dropdown" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Online Payment</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Payment History</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Saving</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Transaction</a>
                <div class="dropdown-menu rounded-bottom border-0 bg-orange-dropdown" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">E-Money</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Transaction</a>
                  <a class="dropdown-item text-white font-weight-bold bg-transparent" href="#">Transaction History</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-white font-weight-bold" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- jquery-->
    <script src="../assets/plugins/jquery/jquery-3.3.1.min.js"></script>

    <!-- bootstrap -->
    <script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      // $('.navbar .dropdown').hover(function() {
      //   $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown(); // show
      // }, function() {
      //   $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp() // hide
      // });
        // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    $(this).find('.nav-icon-arrow').css({
      "vertical-align" : "center",
      "transform" : "rotate(-90deg)"
    });
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    $(this).find('.nav-icon-arrow').css({
      "vertical-align" : "center",
      "transform" : "rotate(360deg)"
    }); 
  });
    </script>
    

</body>
</html>